In [1]:
##################################################################
#           《Python人工智能编程实践（2024年度版）》开源代码
#-----------------------------------------------------------------
#            @章节号：4.4.1.2（添加列数据）                                   
#            @作者：范淼、徐晟桐 
#            @购书链接：暂无
#            @电子邮箱：fm12@tsinghua.org.cn             
#            @官方交流QQ群号：561500762                        
##################################################################

In [2]:
import pandas as pd

In [3]:
#使用字典创建一个DataFrame。
d = {'国家': ['中国', '美国', '日本'],
     '人口': [14.22, 3.18, 1.29]}

df = pd.DataFrame(d)

df

   国家     人口
0  中国  14.22
1  美国   3.18
2  日本   1.29

In [4]:
#创建一个新列，并使用序列赋值。
df['国土面积'] = pd.Series([960, 937, 37])

df

   国家     人口  国土面积
0  中国  14.22   960
1  美国   3.18   937
2  日本   1.29    37

In [5]:
#使用DataFrame内建的函数assign创建一个新列，同时赋值。
df = df.assign(GDP=[14.28, 21.43, 5.06])

df

   国家     人口  国土面积    GDP
0  中国  14.22   960  14.28
1  美国   3.18   937  21.43
2  日本   1.29    37   5.06