In [1]:
##################################################################
#           《Python人工智能编程实践（2024年度版）》开源代码
#-----------------------------------------------------------------
#            @章节号：4.4.1.1（添加行数据）                                  
#            @作者：范淼、徐晟桐 
#            @购书链接：暂无
#            @电子邮箱：fm12@tsinghua.org.cn             
#            @官方交流QQ群号：561500762                        
##################################################################

In [2]:
import pandas as pd

In [3]:
#使用字典创建一个DataFrame。
d = {'国家': ['中国', '美国', '日本'],
     '人口': [14.22, 3.18, 1.29]}

df = pd.DataFrame(d)

df

   国家     人口
0  中国  14.22
1  美国   3.18
2  日本   1.29

In [4]:
#利用索引，添加一行数据。
df.loc[3] = {'国家': '俄罗斯', '人口': 1.4}

df

    国家     人口
0   中国  14.22
1   美国   3.18
2   日本   1.29
3  俄罗斯   1.40

In [5]:
#创建另一个DataFrame。
df2 = pd.DataFrame({'国家': ['英国', '德国'],
     '人口': [0.66, 0.82]})

#使用pandas的concat功能，拼接两个DataFrame，同时重置索引。
new_df = pd.concat([df, df2], ignore_index=True)

new_df

    国家     人口
0   中国  14.22
1   美国   3.18
2   日本   1.29
3  俄罗斯   1.40
4   英国   0.66
5   德国   0.82